//===============================================
//==========BOOTSTRP BRAKE POINTS================
//===============================================

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

//===============================================
//==============ON THE COURT=====================
//===============================================


.bg-fixed{
    background-position: 50% 10%;
    background-attachment: fixed;
    background-size: cover;
    //ARREGLAR COVER CON JAVASCRIPT PARA INTERNET EXPLORER QUE SOLO SOPORTA BACKGROUND SIZE EN PIXELES
    //background-size:window.width;
    //background-size:1120px;
}

.ontc-bg{
    background-image: url('ontc-bg.jpg');
}
.slider-container{
    height:500px;
    position: relative;
    .title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        text-align: center;
        width: 90%;
        h1{
            font-family: 'Sullivan-Bevel';
            color: #FFF;
            border-top: 1px solid #FFF;
            border-bottom: 1px solid #FFF;
            display: inline-block;
            text-transform: uppercase;
            margin: 0;
            font-size: 65px;
            font-weight: 100;
            line-height: 65px;      }
        h2{
            color: #FFF;
            font-family: 'Wisdom-Script';
            margin: 0;
            font-size:65px;
            line-height:55px;
            font-weight: 100;
        }
    }
    .top-link{
        position:absolute;
        top: 0;
        right: 30px;
        a{
            text-transform: uppercase;
            line-height: 13px;
            font-size: 13px;
            padding: 5px;
            vertical-align: text-bottom;
            float: left;
        }

    }
    .arrow-link{
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        line-height: 88px;
        vertical-align: middle;
        text-transform: uppercase;
        color: $white-boast;
        &.l{
            left: 0;
            background: url(arrow-r.png) left center no-repeat rgba(0, 0, 0, 0);  
            padding-left:50px; 
            &:hover{
                left: 15px;
            }
     
        }
        &.r{
            right: 0;
            background: url(arrow-l.png) right center no-repeat rgba(0, 0, 0, 0);  
            padding-right:50px;  
            &:hover{
                right: 15px;
            }
    
        }
    }
}
.browse-content{
    background:$white-boast;
    text-align:center;
    text-transform:uppercase;
    position: relative;
    span{
        display: inline-block;
        font-size: 30px;
    }
    .jump-link{
        position: absolute;
        top: 60px;
        right: 30px;
        @media screen and (max-width: $screen-sm-max) {
            top: 0;
            right: 30px;
        }



        a{
            text-transform: uppercase;
            line-height: 17px;
            font-size: 17px;
            padding: 5px 15px;
            vertical-align: text-bottom;
            float: left;
            background-image: url(mini-arrow-r.png);
            background-position: 5px center;
            background-repeat: no-repeat;
        }
    }
    .mini-search{
        position: absolute;
        top: 60px;
        left: 30px;
        @media screen and (max-width: $screen-sm-max) {
            position: relative;
            top: inherit;
            left: inherit;
            margin-bottom: 15px;
            margin-top: 15px;
            div{
            padding-left: 0;
            }
        }
        form{
            @media screen and (max-width: $screen-sm-max) {
                display: inline-block;
            }
        }
        input[type="search"] {
            float: left;
            height: 27px;
            width: 130px;
            background: #F3F3F3;
            border: 1px solid #F3F3F3;
            border-radius: 8px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            box-sizing: border-box;
            padding: .4em .6em;
            outline: none;
            @media screen and (max-width: $screen-sm-max) {
                width: inherit;
            }

        }
        input[type="submit"] {
            float: left;
            height: 27px;
            width: 30px;
            font-size: 13px;
            box-sizing: border-box;
            padding: 0;
            background: #F3F3F3;
            border: 1px solid #F3F3F3;
            color: #000;
            border-radius: 8px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }
        div{
            font-size: 12px;
            padding-left: 5px;
            @media screen and (max-width: $screen-sm-max) {
                padding-left: 0;
            }
        }
    }
    .browse-nav{
        .first-level{
            a{
                font-size: 27px;
                color:$gray-boast;
                padding: 0 10px;
                &.active{
                    color: $black-boat;
                }
                &:hover{
                    color: $black-boat;

                }
            }
        }
        .second-level{
            a{
                font-size: 15px;
                color:$black-boat;
                font-weight: bold;
                padding: 0 10px;
                &.active{
                    color: $red-boat;
                }
                &:hover{
                    color: $red-boat;

                }
            }
        }

    }
    .sort-by{
        background: url(leaf-pixie.png) left center no-repeat rgba(0, 0, 0, 0);
        padding: 10px 20px;
        display: inline-block;
        select{
            font-size: 15px;
            text-transform: uppercase;
            border: 0;
            background: url(sort-arrow.gif) right center no-repeat rgba(0, 0, 0, 0);
            -webkit-appearance: none;
        }
    }
    .browse-grid-container{
        display: table;

        /* background:$red-boat; */
        width: 100%;
        max-width: 1024px;
        margin: auto;
    }
    .pagination{
        padding:40px 0 20px;
    }
}

.grid {
    display: inline-block;
    vertical-align: middle;
    /* &:hover div:not(:hover) .product{
      opacity:0.5;
    } */
    &:hover .product:not(:hover){
    opacity:0.2;
    /* -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-property-delay: 1s; */

    }
    .blocker{
        position:absolute;
        width: 100%;
        height: 100%;
        background:rgba(255,255,255,0.9);
        z-index: 0;
        left: 0;
    }
    @media screen and (max-width: $screen-sm-max) {
        div:nth-child(2n+0) .product{
            .quick-view{
                left: 0;
                right: inherit;
            }
            &:hover{
                .quick-view{
                    left: -300px;
                    right: inherit;
                }
            }
        }
    }
    @media screen and (min-width: $screen-md-min) {
        div:nth-child(3n+0) .product{
            .quick-view{
                left: 0;
                right: inherit;
            }
            &:hover{
                .quick-view{
                    left: -300px;
                    right: inherit;
                }
            }
        }

    }
    .product{
        position: relative;
        opacity: 1;
        -webkit-transition: all 0.2s ease-out 0s;
        -moz-transition: all 0.2s ease-out 0s;
        -o-transition: all 0.2s ease-out 0s;
        -ms-transition: all 0.2s ease-out 0s;
        transition: all 0.2s ease-out 0s;
        .tag{
            position: absolute;
            width: 100px;
            height: 100px;
            display: block;
            opacity: 1;
            z-index: 30;
            border-radius: 50px;
            text-align: center;
            line-height: 93px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);

            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
            &.sale{
                background: $red-alpha-boast; 
            }
        }
        &:hover{
            opacity: 1;
            z-index: 20;
            .tag{
                opacity: 0;
            }
            .quick-view{
                opacity: 1;
                left: inherit;
                right: -300px;
                z-index: 19;
            }
            a{
                position: relative;
                z-index: 21;
            }
        }
        /* &:not(:hover){
            opacity: 0.5;
        } */
        img{
            max-width:100%;
            max-height:100%;
            vertical-align: middle;
        }
        /* background:$blue-boat; */
    }
}


.product-details{
    text-transform: uppercase; 
    &.full{
        padding:0 0 0 30px;
        .swatch .header:after{
            clear:both;
        }
        .swatch a{
            position:absolute;
            right:30px;
        }
    }
    &.quick-view{
        display: inline-block;
        background-color: $white-alpha-boast;
        position: absolute;
        right: 0;
        left: inherit;
        width: 270px;
        height: 100%;
        top: 0;
        opacity: 0;
        padding: 30px 15px 15px 15px;
        text-align:left;
        font-weight: bold;

        -webkit-transition: all 0.2s ease-out 0s;
        -moz-transition: all 0.2s ease-out 0s;
        -o-transition: all 0.2s ease-out 0s;
        -ms-transition: all 0.2s ease-out 0s;
        transition: all 0.2s ease-out 0s;
        @media screen and (max-width: $screen-sm) {
            display: none;
        }
    }
    .product-name{
        margin-top: 5px;
    }
    .price{
        color: $red-boat;
        &.before{
            text-decoration: line-through;
        }
    }
    .description{
        margin-top: 5px;
        font-size: 15px;
        text-transform: none;
        font-weight: normal;
    }
    .purchase{
        margin-bottom: 20px;
    }
    input[type="submit"]{
        font-size: 17px;
        text-align: center;
        text-transform: uppercase;
        margin:15px 0 0 0;
        background:$blue-boat;
        color:white;
        width:auto;
        padding:0 15px;
        line-height: 32px;
        border:0;
        -webkit-font-smoothing: antialiased;

        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;

        &:hover{
            color: $white-boast;
            background: $red-boat;
            cursor: pointer;
        }
    }
}
