header{
	position: relative;
	z-index: 15;
	background-color: #FFF;
	.left{
		//margin-bottom: 8px;
	}
    padding: 21px 30px 35px 20px;
    background: url("header-bg.png") bottom left repeat-x rgba(255, 255, 255, 1);
	.social{
		display: inline-block;
		a{
			white-space: nowrap;
			color: $black-boat;
			font-size: 30px;
			line-height: 40px;
			-webkit-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			&:hover{
				color: $red-boat;
			}
		}
	}
	.search-form {
		display: inline-block;
		vertical-align: super;
		height: 40px;
		input[type="search"]{
			height: 30px;
			width: 230px;
			background: #F3F3F3;
			border: 1px solid #F3F3F3;
			border-radius: 8px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			box-sizing: border-box;
			padding: .4em .6em;
			outline: none;

		}
		input[type="submit"]{
			height: 30px;
			width: 42px;
			font-size: 15px;
			box-sizing: border-box;
			padding: 0;
			background: #F3F3F3;
			border: 1px solid #F3F3F3;
			float: right;
			color: #000;
			border-radius: 8px;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			font-family: 'Glyphicons Halflings';
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-webkit-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;

			&:hover{
				background: #C32829;
				cursor: pointer;
			}
		}
	}
	.customer-links {
		display: inline-block;
		vertical-align: top;
		text-transform: uppercase;
		padding: 0 20px;
		a{
			height: 42px;
			line-height: 42px;
		}
	}
	.cart-link{
		display: inline-block;
		padding-left: 20px;
		vertical-align: super;
		img{
			vertical-align:middle;
		}
	}
}
#menu-bt {
    background: url("menu.png") center center no-repeat rgba(0, 0, 0, 0);
    width: 31px;
    height: 40px;
    display: block;
    border: 0;
    margin-right: 23px;
    display: inline-block;
    vertical-align: top;
		outline: none;
}
.sign-in-form{
	padding:5px 15px;
	display: block;
	top: -250px;
	width: 280px;
	background-color: #FFF;
	position: absolute;
	//top: 102px;
	z-index: 16;
	//border: solid 10px #C32829;
	border-bottom: solid 10px #C32829;
	border-right: solid 10px #C32829;
	border-left: solid 10px #C32829;
	right: 260px;
	z-index:16;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	&.active{
		top:94px;
	}
	a{
		text-transform: uppercase;
		font-size: 12px;
		line-height: 28px;
		padding: 0 5px;
		vertical-align: bottom;

		&.signup{
			color:$blue-boat;
		}
		&.forgot{
			color:$red-boat;
		}
		&:hover{
			color: $black-boat;
		}
	}
	.close-bt{
		top:5px;
		right: 10px;
	}
	input[type="email"], input[type="text"],input[type="password"]{
		border: 1px solid #F3F3F3;
		border-radius: 0;
		box-sizing: border-box;
		padding: 0.15em;
		margin-bottom: 0.25em;
		background: #F3F3F3;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		width: 100%;
		outline: none;
		color: $gray-dark-boast;
		&:focus{
			border: 1px solid $red-boat;
		}
	}
	label{
		text-transform:uppercase;
		font-size: 15px;
	}
}

.floating-dialog{
	&.white{
			background: $white-boast;;
	}
	&.red{
			background: $red-boat;;
	}
	position: fixed;
	z-index: 14;
	top: -70%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 5px;
	overflow: hidden;
	box-sizing: border-box;
	height: auto;
	min-width:320px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	&.active{
		top: 50%;
	}

	img{
		vertical-align: middle;
		max-width: 100%;
	}

}
.close-bt{
	&.white{
		background: url("close-bt-w.png") center center no-repeat rgba(0, 0, 0, 0);
	}
	&.black{
		background: url("close-bt.png") center center no-repeat rgba(0, 0, 0, 0);
	}
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 15px;
	right: 20px;
	z-index: 30;
}
.news-letter-form{
	background:$red-boat;
	padding:15px;
	box-sizing: border-box;
	label{
		text-transform:uppercase;
		font-size: 15px;
	}
	input[type="submit"]{
		width: 100%
	}
	input[type="email"]{
		width: 100%;
		padding: 0 15px;
		box-sizing: border-box;
		color: $gray-dark-boast;
		border:0;
		height: 28px;
	}
}
.create-account-form{
	background:$white-boast;
	padding:15px;
	box-sizing: border-box;
	.title{
		text-transform:uppercase;
		font-size: 25px;
	}
	input[type="email"], input[type="text"],input[type="password"]{
		border: 1px solid #F3F3F3;
		border-radius: 0;
		box-sizing: border-box;
		padding: 0.15em;
		margin-bottom: 0.25em;
		background: #F3F3F3;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		width: 100%;
		outline: none;
		color: $gray-dark-boast;
		&:focus{
			border: 1px solid $red-boat;
		}
	}
	label{
		text-transform:uppercase;
		font-size: 15px;
	}
}
.lost-password-form{
	background:$white-boast;
	padding:15px;
	box-sizing: border-box;
	.title{
		text-transform:uppercase;
		font-size: 25px;
	}
	p{
		font-size: 15px;
	}
	input[type="email"], input[type="text"],input[type="password"]{
		border: 1px solid #F3F3F3;
		border-radius: 0;
		box-sizing: border-box;
		padding: 0.15em;
		margin-bottom: 0.25em;
		background: #F3F3F3;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		width: 100%;
		outline: none;
		color: $gray-dark-boast;
		&:focus{
			border: 1px solid $red-boat;
		}
	}
	label{
		text-transform:uppercase;
		font-size: 15px;
	}
}

.group{
	box-sizing:border-box;
	&-l{
		padding-right: 5px;
	}
	&-r{
		padding-left: 5px;
	}
}
/* General menu styling */
nav{
	text-transform: uppercase;
	border-left: 70px solid #C32829;
	width: 100%;
	height: 0;
	position: absolute;
	z-index: 14;
	top: -200px;
	left: 0;
	background: #FFF;
	padding: 0;
	overflow: hidden;
	box-sizing: border-box;
	/*padding: 35px 0 30px 0;*/
	height: auto;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

	&.active{
		top: 104px;
	}
	.nav-ad{
		margin: 35px 15px 30px 15px;
	}
	ul{
		position: absolute;
		/*top: 0;*/
		list-style: none;
		width: 200px;
		padding: 0;
		display: none;
		opacity: 0;
		-webkit-animation-duration: 0.5s;
		-webkit-animation-name: fadeOut;
		/* Making them to expand their height with a transition, for a slide effect */
		// -webkit-transition: all 2.9s ease-in;
		// -moz-transition: all 2.9s ease-in;
		// -o-transition: all 2.9s ease-in;
		// -ms-transition: all 2.9s ease-in;
		// transition: all 2.9s ease-in-out;
		ul{
			position: absolute;
			top: 0;
			margin-left: 200px;
			li{
				//opacity: 0;
			}
		}
	}
	&>ul{
		opacity: 1;
		display: inherit;
		margin: 35px 0 30px 15px;
	}
}

li.dropdown.active>a{
	color: $red-boat;
}
.dropdown.active>ul {
	opacity: 1;
	display: inherit;
	//display: block;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-name: fadeInFromNoneLeft;


}

@-webkit-keyframes fadeInFromNoneLeft {
    0% {
		margin-left: 180px;
        display:none;
        opacity: 0;
    }

    1% {
        display: block ;
        opacity: 0;
    }

    100% {
		margin-left: 200px;
        display: block ;
        opacity: 1;
    }
}
@-webkit-keyframes fadeInFromNone {
    0% {
        display:none;
        opacity: 0;
    }

    1% {
        display: block ;
        opacity: 0;
    }

    100% {
        display: block ;
        opacity: 1;
    }
}
@-webkit-keyframes fadeOut {
    0% {
			display: block ;
			opacity: 1;
    }

    99% {
        display: block ;
        opacity: 0;
    }

    100% {
			display:none;
			visibility:none;
			//opacity: 0;
    }
}

@media all and (max-width: 400px) {
	header {
		padding: 21px 10px 35px 10px;

		.cart-link{
			padding-left:5px;
			vertical-align: sub;
		}
		#menu-bt{
			margin-right:10px
		}
		#logo img{
			width: 165px;
			vertical-align: middle;
		}
	}
}


/*
.dropdown.active:hover>ul>li {
	opacity: 1;
	display: inherit;
}
*/
/*
.dropdown:hover>ul>li {
	opacity: 1;
	display: inherit;
}
*/
