//===============================================
//===========SWATCH ATRIBUTE SELECTORS===========
//===============================================

.swatch{
    margin-top: 5px;
    .header{
        display: inline-block;
        float: left;
        margin-right: 10px;
    }
    &.color .selection-element label{
        border:solid 1px #FFF;
    }
    .selection-element{
          float:left;
          -webkit-transform:translateZ(0); /* webkit flicker fix */
          -webkit-font-smoothing:antialiased; /* webkit text rendering fix */
          /* Spacing between buttons */
          margin:0px 10px 10px 0;
          /* To position the sold out graphic and tooltip */
          position:relative;
          display: inline-block;
        .tooltip{
          text-align:center;
          background:gray;
          color:#fff;
          bottom:100%;
          padding: 10px;
          display:block;
          position:absolute;
          width:100px;
          left:-30px;
          margin-bottom:15px;
          /* Make it invisible by default */
          filter:alpha(opacity=0);
          -khtml-opacity: 0;
          -moz-opacity: 0;
          opacity:0;
          visibility:hidden;
          /* Animations */
          -webkit-transform: translateY(10px);
             -moz-transform: translateY(10px);
              -ms-transform: translateY(10px);
               -o-transform: translateY(10px);
                  transform: translateY(10px);
          -webkit-transition: all .25s ease-out;
             -moz-transition: all .25s ease-out;
              -ms-transition: all .25s ease-out;
               -o-transition: all .25s ease-out;
                  transition: all .25s ease-out;
          -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
             -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
              -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
               -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
                  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          z-index: 10000;
          -moz-box-sizing:border-box; 
          -webkit-box-sizing:border-box; 
          box-sizing:border-box;
            &:after{
                border-left: solid rgba(0, 0, 0, 0) 10px;
                border-right: solid rgba(0, 0, 0, 0) 10px;
                border-top: solid #808080 10px;
                bottom: -10px;
                content: " ";
                height: 0;
                left: 50%;
                margin-left: -13px;
                position: absolute;
                width: 0;
            }
        }
        &:hover .tooltip{
        filter:alpha(opacity=100);
        -khtml-opacity:1;
        -moz-opacity:1;
        opacity:1;
        visibility:visible;
      -webkit-transform:translateY(0px);
         -moz-transform:translateY(0px);
          -ms-transform:translateY(0px);
           -o-transform:translateY(0px);
              transform:translateY(0px);        
      }
        &.soldout {
            .crossed-out {
                display: block; 
            }  
        }
        input{
            display: none;
            &:checked + label{
                background: #ECECEC;
                border: solid 1px $black-boat;
            }
        }
        label{
            width: 30px;
            height: 30px;
            display: block;
            background: #FBFBFB;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 25px;
            line-height: 30px;
            text-align: center;
            border: solid 1px #2E2E2E;
            font-weight: normal;
            font-size: 15px;

            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;

            .crossed-out {
                display: none;

            }  
        }
    }
}
