// ============= UTILITIES =====================
// ==============================================
.padd-l{
    padding-left:10px;
}
.padd-r{
    padding-right:10px;
}
.text-center{
    text-align:center !important;
}
.no-margin{
    margin:0;
}
.content-container{
    width: 100%;
    max-width: 1024px;
    margin: auto;
    .content-box{
        position:relative;
        padding-top:30px;
    }
    .black-blocker{
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.75);
        top: 0;
        left: 0;
        z-index: 15;
        display: none;
        &.active{
            display: block;
        }
    }
}
.text-divider{
    text-transform: uppercase;
    margin:0 15px 20px 15px;
    border-bottom:solid 1px $black-boat;
}
.underline{
    background: url("rainbow-underline.png") bottom repeat-x rgba(0, 0, 0, 0);
}
.spacer-top{
  margin-top: 30px;
}
.spacer-bottom{
  margin-bottom: 30px;
}

// ============= COMPONENTS =====================
// ==============================================

//BUTTONS

.white-bt{
  text-transform: uppercase;
   background:$white-boast;
   color:$black-boat; 
   border: none;
   outline: none;
   &:hover{
       background:$red-boat;
       color:$white-boast;
   }
}
.blue-bt{
  text-transform: uppercase;
   background:$blue-boat; 
   color:$white-boast; 
   border: none;
   outline: none;
    &:hover{
       background:$red-boat;
       color:$white-boast;
   }

}