	@@include('../parts/content-warper-start.html')
	<!--Init template: Home-->
	<section id="body" class="">
		<div class="row no-margin"> 
			<div class="bg-fixed ambassadors-bg">
				<div class="slider-container lg">
					<div class="title">
                  <img src="assets/ambassadors-text-01.png" alt="">
					</div>
				</div>
			</div>
		</div>
		

		<!-- START ROW -->
		<div class="row no-margin">
			<div class="no-pad col-xs-12 col-sm-3 text-center">
				<div class="ambassadors-left">
					<div class="content-title white text-center">
						<h1>Sign me up coach</h1> 
						<h2>I want to play</h2>
					</div>
					<form>
						<input type="text"><br>
						<input type="submit" id="sign-in-submit" value="Donate" class="blue-bt-alt">
					</form>
					<div class="content-title white text-center">
						<h1>Our roster talent</h1> 
					</div>
					<ul>
						<li>University of Alabama</li>
						<li>American University</li>
						<li>Boston College</li>
						<li>Cornell University</li>
						<li>Colby College</li>
						<li>Denison University</li>
						<li>Gettysburg College</li>
						<li>High Point University</li>
						<li>Lafayette College</li>
						<li>Iona College</li>
						<li>Miami University of Ohio</li>
						<li>Michigan</li>
						<li>Minnesota University</li>
						<li>UNC Wilmington</li>
						<li>University of Richmond</li>
						<li>University of Vermont</li>
						<li>Villanova University</li>
						<li>University of Wisconsin</li>
						<li>Washington and Lee</li>
					</ul>
				</div>
			</div>
			<div class="no-pad col-xs-12 col-sm-9 text-center">
				<div class="ambassadors-right">
					<div class="content-title red text-center">
						<h1>Our ambassadors</h1>
						<h2>Our wall of players</h2>
					</div>
					<div class="no-pad col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 spacer-top spacer-bottom">
						<div class="row no-margin">
							<!-- START ITEM -->
							<div class="no-pad col-xs-4 col-sm-3 text-center">
								<img src="assets/em-robby-campbell.png">
								<div class="content-title mini black text-center">
									<h1>Jhon Smith</h1>
									<div>Aerican University</div>
								</div>
							</div>
							<!-- END ITEM -->
							<!-- START ITEM -->
							<div class="no-pad col-xs-4 col-sm-3 text-center">
								<img src="assets/em-benr-square.png">
								<div class="content-title mini black text-center">
									<h1>Jhon Smith</h1>
									<div>Aerican University</div>
								</div>
							</div>
							<!-- END ITEM -->
							<!-- START ITEM -->
							<div class="no-pad col-xs-4 col-sm-3 text-center">
								<img src="assets/em-brett-campbell.png">
								<div class="content-title mini black text-center">
									<h1>Jhon Smith</h1>
									<div>Aerican University</div>
								</div>
							</div>
							<!-- END ITEM -->
							<!-- START ITEM -->
							<div class="no-pad col-xs-4 col-sm-3 text-center">
								<img src="assets/em-danielle.png">
								<div class="content-title mini black text-center">
									<h1>Jhon Smith</h1>
									<div>Aerican University</div>
								</div>
							</div>
							<!-- END ITEM -->
							<!-- START ITEM -->
							<div class="no-pad col-xs-4 col-sm-3 text-center">
								<img src="assets/em-geoff-campbell.png">
								<div class="content-title mini black text-center">
									<h1>Jhon Smith</h1>
									<div>Aerican University</div>
								</div>
							</div>
							<!-- END ITEM -->
							<!-- START ITEM -->
							<div class="no-pad col-xs-4 col-sm-3 text-center">
								<img src="assets/em-josh-square.png">
								<div class="content-title mini black text-center">
									<h1>Jhon Smith</h1>
									<div>Aerican University</div>
								</div>
							</div>
							<!-- END ITEM -->
							<!-- START ITEM -->
							<div class="no-pad col-xs-4 col-sm-3 text-center">
								<img src="assets/em-anonymous.png">
								<div class="content-title mini black text-center">
									<h1>Jhon Smith</h1>
									<div>Aerican University</div>
								</div>
							</div>
							<!-- END ITEM -->
							<!-- START ITEM -->
							<div class="no-pad col-xs-4 col-sm-3 text-center">
								<img src="assets/em-roman.png">
								<div class="content-title mini black text-center">
									<h1>Jhon Smith</h1>
									<div>Aerican University</div>
								</div>
							</div>
							<!-- END ITEM -->
							<!-- START ITEM -->
							<div class="no-pad col-xs-4 col-sm-3 text-center">
								<img src="assets/em-marjorie-gomez.png">
								<div class="content-title mini black text-center">
									<h1>Jhon Smith</h1>
									<div>Aerican University</div>
								</div>
							</div>
							<!-- END ITEM -->
							<!-- START ITEM -->
							<div class="no-pad col-xs-4 col-sm-3 text-center">
								<img src="assets/em-robert.png">
								<div class="content-title mini black text-center">
									<h1>Jhon Smith</h1>
									<div>Aerican University</div>
								</div>
							</div>
							<!-- END ITEM -->
							<!-- START ITEM -->
							<div class="no-pad col-xs-4 col-sm-3 text-center">
								<img src="assets/em-tamar.png">
								<div class="content-title mini black text-center">
									<h1>Jhon Smith</h1>
									<div>Aerican University</div>
								</div>
							</div>
							<!-- END ITEM -->
							<!-- START ITEM -->
							<div class="no-pad col-xs-4 col-sm-3 text-center">
								<img src="assets/em-penny.png">
								<div class="content-title mini black text-center">
									<h1>Jhon Smith</h1>
									<div>Aerican University</div>
								</div>
							</div>
							<!-- END ITEM -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END ROW -->
	</section>
	<!--End template: Home-->
	@@include('../parts/content-warper-end.html')
