	@@include('../parts/content-warper-start.html')
	<!--Init template: Home-->
	<section id="body" class="">
		<div class="row no-margin"> 
			<div class="bg-fixed donate-bg">
				<div class="slider-container sm">
					<div class="title">
                  <img src="assets/donate-text-01.png" alt="">
					</div>
				</div>
			</div>
		</div>
		<!-- START ROW -->
		<div class="row no-margin spacer-top">
			<div class="content-title text-center">
				<h1>Select your payment</h1>
				<h2>Every bit helps</h2>
			</div>
		</div>
		<!-- END ROW -->

		<div class="row no-margin spacer-top">
			<div class="no-pad col-xs-12 col-sm-6 text-center">
				<!-- START ROW -->
					<div class="no-pad col-xs-6 col-sm-6 text-center">
						<a href="/" class="donate-bt">
							<h1>$10</h1>
							<div>Ewell done sport</div>
						</a>
					</div>
					<div class="no-pad col-xs-6 col-sm-6 text-center">
						<a href="/" class="donate-bt">
							<h1>$25</h1>
							<div>Be a hero</div>
						</a>
					</div>
				<!-- END ROW -->

			</div>
			<div class="no-pad col-xs-12 col-sm-6 text-center">
				<!-- START ROW -->
					<div class="no-pad col-xs-6 col-sm-6 text-center">
						<a href="/" class="donate-bt">
							<h1>$50</h1>
							<div>We salute you</div>
						</a>
					</div>
					<div class="no-pad col-xs-6 col-sm-6 text-center">
						<a href="/" class="donate-bt">
							<h1>$100</h1>
							<div>Giving like</div>
						</a>
					</div>
				<!-- END ROW -->

			</div>
		</div>





		<!-- START ROW -->
		<div class="row no-margin spacer-top spacer-bottom text-center">
			<form id="donations" class="donate-form" action="#">
				<div class="no-pad col-xs-12 col-sm-3">
					<label>Surprise us $</label>
				</div>

				<div class="no-pad col-xs-12 col-sm-9">
					<input type="text">
				</div>
				<div class="no-pad col-xs-12 col-sm-12">
					<span>Your donation will be added into your cart and will be processed at checkout.</span>
				</div>
				<input type="submit" id="sign-in-submit" value="Donate" class="blue-bt">
			</form>
		</div>
		<!-- END ROW -->

	</section>
	<!--End template: Home-->
	@@include('../parts/content-warper-end.html')
