	@@include('../parts/content-warper-start.html')
	<!--Init template: Home-->
	<section id="home" class="">
		<!-- START ROW -->
		<div class="row no-margin">
			<!-- START BOX -->
			<div class="no-pad col-xs-12 col-sm-6">
				<figure>
					<a href="/">
						<img src="assets/history-pic-01.jpg" class="pic">
               	<em class="l-arrow hidden-xs"></em>
						<figcaption class="">
                  	<img src="assets/history-text-01.png" alt="">
						</figcaption>
					</a>
				</figure>
			</div>
			<!-- END BOX -->

			<!-- START BOX -->
			<div class="no-pad col-xs-12 col-sm-6">
				<figure>
					<a href="timeline.html">
						<img src="assets/history-pic-02.jpg" class="pic">
               	<em class="r-arrow hidden-xs"></em>
						<figcaption class="">
                  	<img src="assets/history-text-02.png" alt="">
						</figcaption>
					</a>
				</figure>
			</div>
			<!-- END BOX -->


		</div>
		<!-- END ROW -->

	</section>
	<!--End template: Home-->
	@@include('../parts/content-warper-end.html')
