@@include('../parts/content-warper-start.html')
<!--Init template: Home-->
        <section id="home" class="">
          <div class="row no-margin">
            <div class="no-pad col-xs-12 col-sm-6">
                <figure>
                    <a href="on-the-court.html">
                        <img src="assets/index-bg-01.png" class="pic">
                        <em class="l-arrow hidden-xs"></em>
                        <figcaption class="first">
                          <img src="assets/index-title-01.png" alt="">
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="no-pad col-xs-12 col-sm-6">
                <figure>
                    <a href="#">
                        <img src="assets/index-bg-02.png" class="pic">
        								<em class="r-arrow hidden-xs"></em>
                        <figcaption class="first">
        					<img src="assets/index-title-02.png" alt="">
                        </figcaption>
                    </a>
                </figure>
            </div>
          </div>
          <div class="row no-margin">
            <div class="no-pad col-xs-12 col-sm-6">
                <figure>
                    <a href="#">
                        <img src="assets/index-bg-03.png" class="pic">
                        <figcaption class="first">
                          <img src="assets/index-title-03.png" alt="">
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="no-pad col-xs-12 col-sm-6">
                <figure>
                    <a href="#">
                        <img src="assets/index-bg-04.png" class="pic">
                        <figcaption class="first">
                          <img src="assets/index-title-04.png" alt="">
                        </figcaption>
                    </a>
                </figure>
            </div>
          </div>
          <div class="row no-margin">
            <div class="no-pad col-xs-12 col-sm-6">
                <figure>
                    <a href="#">
                        <img src="assets/index-bg-05.png" class="pic">
                        <figcaption class="first">
                          <img src="assets/index-title-05.png" alt="">
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="no-pad col-xs-12 col-sm-6">
                <figure>
                    <a href="#">
                        <img src="assets/index-bg-06.png" class="pic">
                        <figcaption class="first">
                          <img src="assets/index-title-06.png" alt="">
                        </figcaption>
                    </a>
                </figure>
            </div>
          </div>
          <div class="row no-margin">
            <div class="no-pad col-xs-12 col-sm-6">
                <figure>
                    <a href="#">
                        <img src="assets/index-bg-07.png" class="pic">
                        <figcaption class="first">
                          <img src="assets/index-title-07.png" alt="">
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="no-pad col-xs-12 col-sm-6">
                <figure>
                    <a href="#">
                        <img src="assets/index-bg-08.png" class="pic">
                        <figcaption class="first">
                          <img src="assets/index-title-08.png" alt="">
                        </figcaption>
                    </a>
                </figure>
            </div>
          </div>
          <div class="row no-margin">
            <div class="no-pad col-xs-12 col-sm-6">
                <figure>
                    <div href="#">
                        <img src="assets/index-bg-09.png" class="pic">
                        <a href="/" id="newsletter-bt" class="visible-xs"></a>
                        <figcaption class="first">
                          <img src="assets/index-title-09.png" alt="">
                        </figcaption>
                        <div class="newsletter form hidden-xs">
                        	<div>
                        		<img src="//cdn.shopify.com/s/files/1/0744/1359/t/2/assets/leaf.png?356776533157801816" alt="">
                        		<h3>Stay on top of your game</h3>
                        		<h4>Sign up for our monthly newsletter</h4>
                        		<form action="" method="post" id="subscribe-form" name="subscribe-form" target="_blank" class="row">
                              <div class="no-pad col-xs-12 col-sm-6">
                                <div class="padd-r">
                                  <label>First Name</label>
                                  <input type="text" value="" name="FNAME" id="fname" class="input-group-field" aria-label="First Name">
                                </div>
                              </div>
                        			<div class="no-pad col-xs-12 col-sm-6">
                                <div class="padd-l">
                          				<label>Last Name</label>
                          				<input type="text" value="" name="LNAME" id="lname" class="input-group-field" aria-label="Last Name">
                                </div>
                              </div>
                        			<div class="no-pad col-xs-12 col-sm-12">
                                <div class="inside-padder">
                                  <label>Email</label>
                        				  <input type="email" value="" name="EMAIL" id="mail" class="input-group-field" aria-label="Email Address" autocorrect="off" autocapitalize="off">
                        			  </div>
                              </div>
                        			<div class="no-pad col-xs-12 col-sm-12 text-center">
                        				<input type="submit" value="Join" name="subscribe" id="subscribe">
                        			</div>
                        		</form>
                        	</div>
                        </div>
                    </div>
                </figure>
            </div>
            <div class="no-pad col-xs-12 col-sm-6">
                <figure>
                    <a href="#">
                        <img src="assets/index-bg-10.png" class="pic">
                        <figcaption class="first">
                          <img src="assets/index-title-10.png" alt="">
                        </figcaption>
                    </a>
                </figure>
            </div>
          </div>
          <div class="row no-margin">
            <div class="no-pad col-xs-12 col-sm-6">
                <figure>
                    <a href="#">
                        <img src="assets/index-bg-11.png" class="pic">
                        <figcaption class="first">
                          <img src="assets/index-title-11.png" alt="">
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="no-pad col-xs-12 col-sm-6">
                <figure>
                    <a href="#">
                        <img src="assets/index-bg-12.png" class="pic">
                    </a>
                </figure>
            </div>
          </div>
        </section>
        <!--End template: Home-->
@@include('../parts/content-warper-end.html')
