

<div id="st-container" class="st-container st-effect-3">

	<!-- content push wrapper -->
	<div class="st-pusher">

		<div class="st-menu st-effect-3" id="menu-1">
			<!-- sidebar content -->
      <!-- <div class="menu-button">Menu</div> -->
      <div>
        <ul data-breakpoint="2000" class="flexnav with-js opacity sm-screen flexnav-show">
					<li><a href="/">Collections</a>
						<ul>
							<li><a href="/">On-The-Court</a>
								<ul>
									<li><a href="/">Men</a>
										<ul>
											<li><a href="#">All</a></li>
											<li><a href="#">New Arrivals</a></li>
											<li><a href="#">Sale</a></li>
										</ul>
									</li>
									<li><a href="/">Women</a>
										<ul>
											<li><a href="#">All</a></li>
											<li><a href="#">New Arrivals</a></li>
											<li><a href="#">Sale</a></li>
										</ul>
									</li>
									<li><a href="/">Kids</a>
										<ul>
											<li><a href="#">All</a></li>
											<li><a href="#">New Arrivals</a></li>
											<li><a href="#">Sale</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="/">Of-The-Court</a>
								<ul>
									<li><a href="/">Kids</a>
										<ul>
											<li><a href="#">All</a></li>
											<li><a href="#">New Arrivals</a></li>
											<li><a href="#">Sale</a></li>
										</ul>
									</li>
									<li><a href="/">Men</a>
										<ul>
											<li><a href="#">All</a></li>
											<li><a href="#">New Arrivals</a></li>
											<li><a href="#">Sale</a></li>
										</ul>
									</li>
									<li><a href="/">Women</a>
										<ul>
											<li><a href="#">All</a></li>
											<li><a href="#">New Arrivals</a></li>
											<li><a href="#">Sale</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="/">Accesories</a></li>
					<li><a href="/">Philanthropy</a></li>
					<li><a href="/">Ambassadors</a></li>
					<li><a href="/">Promotions</a></li>
        </ul>
      </div>
			<div class="text-center">
					<img src="//cdn.shopify.com/s/files/1/0744/1359/t/2/assets/free-shipping.png?13350989791319936979" alt="">
			</div>
			<div class="social-mobile">
				<a href="https://www.facebook.com/boast" title="Follow us on Facebook" target="_blank"><span class="shopify-social-icon-facebook"></span></a>
				<a href="https://twitter.com/boast" title="Follow us on Twitter" target="_blank"><span class="shopify-social-icon-twitter"></span></a>
				<a href="http://instagram.com/boast" title="Follow us on Instagram" target="_blank"><span class="shopify-social-icon-instagram"></span></a>
				<a href="http://pinterest.com/boast" title="Follow us on Pinterest" target="_blank"><span class="shopify-social-icon-pinterest"></span></a>
				<a href="http://boast.tumblr.com" title="Come visit our blog" target="_blank"><span class="shopify-social-icon-tumblr"></span></a>
			</div>
			<div class="aditional-links-mobile">
				<a href="">Look Book</a>
				<a href="">Find Us</a>
			</div>
		</div>

		<div class="st-content"><!-- this is the wrapper for the content -->
			<div class="st-content-inner"><!-- extra div for emulating position:fixed of the menu -->

<!--Init template: Home-->
        <section id="home" class="">
          <div class="row no-margin">
            <div class="no-pad col-xs-12 col-sm-6">
                <figure>
                    <a href="#">
                        <img src="assets/index-bg-01.png" class="pic">
                        <em class="l-arrow hidden-xs"></em>
                        <figcaption class="first">
        					<img src="assets/index-title-01.png" alt="">
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="no-pad col-xs-12 col-sm-6">
                <figure>
                    <a href="#">
                        <img src="assets/index-bg-02.png" class="pic">
        								<em class="r-arrow hidden-xs"></em>
                        <figcaption class="first">
        					<img src="assets/index-title-02.png" alt="">
                        </figcaption>
                    </a>
                </figure>
            </div>
          </div>
          <div class="row no-margin">
            <div class="no-pad col-xs-12 col-sm-6">
                <figure>
                    <a href="#">
                        <img src="assets/index-bg-03.png" class="pic">
                        <figcaption class="first">
                          <img src="assets/index-title-03.png" alt="">
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="no-pad col-xs-12 col-sm-6">
                <figure>
                    <a href="#">
                        <img src="assets/index-bg-04.png" class="pic">
                        <figcaption class="first">
                          <img src="assets/index-title-04.png" alt="">
                        </figcaption>
                    </a>
                </figure>
            </div>
          </div>
          <div class="row no-margin">
            <div class="no-pad col-xs-12 col-sm-6">
                <figure>
                    <a href="#">
                        <img src="assets/index-bg-05.png" class="pic">
                        <figcaption class="first">
                          <img src="assets/index-title-05.png" alt="">
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="no-pad col-xs-12 col-sm-6">
                <figure>
                    <a href="#">
                        <img src="assets/index-bg-06.png" class="pic">
                        <figcaption class="first">
                          <img src="assets/index-title-06.png" alt="">
                        </figcaption>
                    </a>
                </figure>
            </div>
          </div>
          <div class="row no-margin">
            <div class="no-pad col-xs-12 col-sm-6">
                <figure>
                    <a href="#">
                        <img src="assets/index-bg-07.png" class="pic">
                        <figcaption class="first">
                          <img src="assets/index-title-07.png" alt="">
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="no-pad col-xs-12 col-sm-6">
                <figure>
                    <a href="#">
                        <img src="assets/index-bg-08.png" class="pic">
                        <figcaption class="first">
                          <img src="assets/index-title-08.png" alt="">
                        </figcaption>
                    </a>
                </figure>
            </div>
          </div>
          <div class="row no-margin">
            <div class="no-pad col-xs-12 col-sm-6">
                <figure>
                    <div href="#">
                        <img src="assets/index-bg-09.png" class="pic">
                        <a href="/" id="newsletter-bt" class="visible-xs"></a>
                        <figcaption class="first">
                          <img src="assets/index-title-09.png" alt="">
                        </figcaption>
                        <div class="newsletter form hidden-xs">
                        	<div>
                        		<img src="//cdn.shopify.com/s/files/1/0744/1359/t/2/assets/leaf.png?356776533157801816" alt="">
                        		<h3>Stay on top of your game</h3>
                        		<h4>Sign up for our monthly newsletter</h4>
                        		<form action="" method="post" id="subscribe-form" name="subscribe-form" target="_blank" class="row">
                              <div class="no-pad col-xs-12 col-sm-6">
                                <div class="padd-r">
                                  <label>First Name</label>
                                  <input type="text" value="" name="FNAME" id="fname" class="input-group-field" aria-label="First Name">
                                </div>
                              </div>
                        			<div class="no-pad col-xs-12 col-sm-6">
                                <div class="padd-l">
                          				<label>Last Name</label>
                          				<input type="text" value="" name="LNAME" id="lname" class="input-group-field" aria-label="Last Name">
                                </div>
                              </div>
                        			<div class="no-pad col-xs-12 col-sm-12">
                                <div class="inside-padder">
                                  <label>Email</label>
                        				  <input type="email" value="" name="EMAIL" id="mail" class="input-group-field" aria-label="Email Address" autocorrect="off" autocapitalize="off">
                        			  </div>
                              </div>
                        			<div class="no-pad col-xs-12 col-sm-12 text-center">
                        				<input type="submit" value="Join" name="subscribe" id="subscribe">
                        			</div>
                        		</form>
                        	</div>
                        </div>
                    </div>
                </figure>
            </div>
            <div class="no-pad col-xs-12 col-sm-6">
                <figure>
                    <a href="#">
                        <img src="assets/index-bg-10.png" class="pic">
                        <figcaption class="first">
                          <img src="assets/index-title-10.png" alt="">
                        </figcaption>
                    </a>
                </figure>
            </div>
          </div>
          <div class="row no-margin">
            <div class="no-pad col-xs-12 col-sm-6">
                <figure>
                    <a href="#">
                        <img src="assets/index-bg-11.png" class="pic">
                        <figcaption class="first">
                          <img src="assets/index-title-11.png" alt="">
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="no-pad col-xs-12 col-sm-6">
                <figure>
                    <a href="#">
                        <img src="assets/index-bg-12.png" class="pic">
                    </a>
                </figure>
            </div>
          </div>
        </section>
        <!--End template: Home-->

			</div><!-- /st-content-inner -->
		</div><!-- /st-content -->

	</div><!-- /st-pusher -->

</div><!-- /st-container -->
