@@include('../parts/content-warper-start.html')
<!--Init template: Home-->
        <section id="body">
          <div class="row no-margin">
            <div class="no-pad col-xs-12 col-sm-12">
              <div class="bg-fixed ontc-bg">
                <div class="slider-container">
                  <div class="top-link">
                    <a href="/" class="white-bt">Shop the look</a>
                    <a href="/" class="blue-bt">View lookbook</a>
                  </div>
                  <div class="title">
                    <h1>On-The-Court Rules</h1>
                    <h2>We're game if you are</h2>
                  </div>
                  <a class="arrow-link l hidden-xs hidden-sm" href="/">
                    Go off-the-court
                  </a>
                  <a class="arrow-link r hidden-xs hidden-sm" href="/">
                    Go on-the-court
                  </a>
                </div>
                <div class="browse-content">
                  <div class="content-container">
                    <div class="content-box">
                      <div class="mini-search">
                        <form action="" method="" class="search-form" role="search">
                          <input name="q" type="search" id="search-field" placeholder="Search store..." value="">
                          <input type="submit" id="search-submit" value="">
                        </form><br>
                        <div>214 Product results: “KIDS”</div>                   
                      </div>
                      <div class="jump-link">
                        <a href="/" class="blue-bt">Shop All</a>
                      </div>
                      <span class="underline">On-The-Court</span><br>
                      <div class="browse-nav">
                        <div class="first-level">
                          <a href="/" class="active">Men</a>
                          <a href="/">Women</a>
                          <a href="/">Kids</a>
                          <a href="/">Accesories</a>
                        </div>
                        <div class="second-level">
                          <a href="/" class="active">All</a>
                          <a href="/">New</a>
                          <a href="/">Sale</a>
                          <a href="/">Polo</a>
                          <a href="/">Shirt + Tees</a>
                        </div>
                      </div>
                      <div class="sort-by">
                        <select>
                          <option value="manual">Featured</option>
                          <option value="price-ascending">Price: Low to High</option>
                          <option value="price-descending">Price: Hight to Low</option>
                          <option value="title-ascending">A-Z</option>
                          <option value="title-descending">Z-A</option>
                          <option value="created-ascending">Oldest to Newest</option>
                          <option value="created-descending">Newest to Oldest</option>
                          <option value="best-selling">Best Selling</option>
                         </select>
                      </div>
                    </div>
                  </div>

                    <div class="browse-grid-container">
                    <div class="blocker"></div>
                    <div class="grid">
                    <div class="no-pad col-xs-12 col-sm-6 col-md-4 col-lg-4">
                      <div class="product">
                        <div class="tag sale"><img src="assets/mini-sale-w.png"></div>
                        <a href="product.html">
                          <img src="assets/product-1.jpg">
                        </a>
                        <div class="product-details quick-view">
                          <img src="assets/mini-sale.png">
                          <div class="product-name">Neckable Cardigan</div>
                          <div class="price before">$ 280.00</div>
                          <div class="price">$ 200.00</div>
                          <div class="description">V-Neck Cable Cardigan in Ivory. Horn buttons. 80% pima cotton, 20% by alpaca. Made in Peru.</div>
                          
                          <div class="swatch clearfix color" data-option-index="{{ option_index }}">
                            <div class="header">Color</div>
                            <div data-value="Small" class="selection-element small available">
                              <div class="tooltip">Green</div>
                              <input id="swatch-1-small" type="radio" name="option-2" value="Small">
                              <label for="swatch-1-small"style="background-color: green; background-image: url(//cdn.shopify.com/s/files/1/0066/3342/t/5/assets/green.png?14867104149783193968)">
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                            <div data-value="Medium" class="selection-element small available">
                              <div class="tooltip">Red</div>
                              <input id="swatch-2-small" type="radio" name="option-2" value="Medum">
                              <label for="swatch-2-small"style="background-color: green; background-image: url(//cdn.shopify.com/s/files/1/0066/3342/t/5/assets/green.png?14867104149783193968)">
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                            <div data-value="Large" class="selection-element small available">
                              <div class="tooltip">Blue</div>
                              <input id="swatch-3-small" type="radio" name="option-2" value="Large">
                              <label for="swatch-3-small"style="background-color: green; background-image: url(//cdn.shopify.com/s/files/1/0066/3342/t/5/assets/green.png?14867104149783193968)">
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                          </div>

                          <div class="swatch clearfix size" data-option-index="{{ option_index }}">
                            <div class="header">Size</div>
                            <div data-value="Small" class="selection-element small available">
                              <div class="tooltip">Small</div>
                              <input id="swatch-4-small" type="radio" name="option-1" value="Small">
                              <label for="swatch-4-small">
                                S
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                            <div data-value="Medium" class="selection-element small available">
                              <div class="tooltip">Medium</div>
                              <input id="swatch-5-small" type="radio" name="option-1" value="Medum">
                              <label for="swatch-5-small">
                                M
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                            <div data-value="Large" class="selection-element small available">
                              <div class="tooltip">Large</div>
                              <input id="swatch-6-small" type="radio" name="option-1" value="Large">
                              <label for="swatch-6-small">
                                L
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                          </div>
                          <div class="purchase">
                            <input type="submit" id="add-to-cart" class="btn" name="add" value="Add to cart">
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="no-pad col-xs-12 col-sm-6 col-md-4 col-lg-4">
                      <div class="product">
                        <a href="product.html">
                          <img src="assets/product-1.jpg">
                        </a>
                        <div class="product-details quick-view">
                          <img src="assets/mini-sale.png">
                          <div class="product-name">Neckable Cardigan</div>
                          <div class="price before">$ 280.00</div>
                          <div class="price">$ 200.00</div>
                          <div class="description">V-Neck Cable Cardigan in Ivory. Horn buttons. 80% pima cotton, 20% by alpaca. Made in Peru.</div>
                          
                          <div class="swatch clearfix color" data-option-index="{{ option_index }}">
                            <div class="header">Color</div>
                            <div data-value="Small" class="selection-element small available">
                              <div class="tooltip">Green</div>
                              <input id="swatch-1-small" type="radio" name="option-2" value="Small">
                              <label for="swatch-1-small"style="background-color: green; background-image: url(//cdn.shopify.com/s/files/1/0066/3342/t/5/assets/green.png?14867104149783193968)">
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                            <div data-value="Medium" class="selection-element small available">
                              <div class="tooltip">Red</div>
                              <input id="swatch-2-small" type="radio" name="option-2" value="Medum">
                              <label for="swatch-2-small"style="background-color: green; background-image: url(//cdn.shopify.com/s/files/1/0066/3342/t/5/assets/green.png?14867104149783193968)">
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                            <div data-value="Large" class="selection-element small available">
                              <div class="tooltip">Blue</div>
                              <input id="swatch-3-small" type="radio" name="option-2" value="Large">
                              <label for="swatch-3-small"style="background-color: green; background-image: url(//cdn.shopify.com/s/files/1/0066/3342/t/5/assets/green.png?14867104149783193968)">
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                          </div>

                          <div class="swatch clearfix size" data-option-index="{{ option_index }}">
                            <div class="header">Size</div>
                            <div data-value="Small" class="selection-element small available">
                              <div class="tooltip">Small</div>
                              <input id="swatch-4-small" type="radio" name="option-1" value="Small">
                              <label for="swatch-4-small">
                                S
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                            <div data-value="Medium" class="selection-element small available">
                              <div class="tooltip">Medium</div>
                              <input id="swatch-5-small" type="radio" name="option-1" value="Medum">
                              <label for="swatch-5-small">
                                M
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                            <div data-value="Large" class="selection-element small available">
                              <div class="tooltip">Large</div>
                              <input id="swatch-6-small" type="radio" name="option-1" value="Large">
                              <label for="swatch-6-small">
                                L
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                          </div>
                          <div class="purchase">
                            <input type="submit" id="add-to-cart" class="btn" name="add" value="Add to cart">
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="no-pad col-xs-12 col-sm-6 col-md-4 col-lg-4">
                      <div class="product">
                        <a href="product.html">
                          <img src="assets/product-1.jpg">
                        </a>
                        <div class="product-details quick-view">
                          <img src="assets/mini-sale.png">
                          <div class="product-name">Neckable Cardigan</div>
                          <div class="price before">$ 280.00</div>
                          <div class="price">$ 200.00</div>
                          <div class="description">V-Neck Cable Cardigan in Ivory. Horn buttons. 80% pima cotton, 20% by alpaca. Made in Peru.</div>
                          
                          <div class="swatch clearfix color" data-option-index="{{ option_index }}">
                            <div class="header">Color</div>
                            <div data-value="Small" class="selection-element small available">
                              <div class="tooltip">Green</div>
                              <input id="swatch-1-small" type="radio" name="option-2" value="Small">
                              <label for="swatch-1-small"style="background-color: green; background-image: url(//cdn.shopify.com/s/files/1/0066/3342/t/5/assets/green.png?14867104149783193968)">
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                            <div data-value="Medium" class="selection-element small available">
                              <div class="tooltip">Red</div>
                              <input id="swatch-2-small" type="radio" name="option-2" value="Medum">
                              <label for="swatch-2-small"style="background-color: green; background-image: url(//cdn.shopify.com/s/files/1/0066/3342/t/5/assets/green.png?14867104149783193968)">
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                            <div data-value="Large" class="selection-element small available">
                              <div class="tooltip">Blue</div>
                              <input id="swatch-3-small" type="radio" name="option-2" value="Large">
                              <label for="swatch-3-small"style="background-color: green; background-image: url(//cdn.shopify.com/s/files/1/0066/3342/t/5/assets/green.png?14867104149783193968)">
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                          </div>

                          <div class="swatch clearfix size" data-option-index="{{ option_index }}">
                            <div class="header">Size</div>
                            <div data-value="Small" class="selection-element small available">
                              <div class="tooltip">Small</div>
                              <input id="swatch-4-small" type="radio" name="option-1" value="Small">
                              <label for="swatch-4-small">
                                S
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                            <div data-value="Medium" class="selection-element small available">
                              <div class="tooltip">Medium</div>
                              <input id="swatch-5-small" type="radio" name="option-1" value="Medum">
                              <label for="swatch-5-small">
                                M
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                            <div data-value="Large" class="selection-element small available">
                              <div class="tooltip">Large</div>
                              <input id="swatch-6-small" type="radio" name="option-1" value="Large">
                              <label for="swatch-6-small">
                                L
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                          </div>
                          <div class="purchase">
                            <input type="submit" id="add-to-cart" class="btn" name="add" value="Add to cart">
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="no-pad col-xs-12 col-sm-6 col-md-4 col-lg-4">
                      <div class="product">
                        <a href="product.html">
                          <img src="assets/product-1.jpg">
                        </a>
                        <div class="product-details quick-view">
                          <img src="assets/mini-sale.png">
                          <div class="product-name">Neckable Cardigan</div>
                          <div class="price before">$ 280.00</div>
                          <div class="price">$ 200.00</div>
                          <div class="description">V-Neck Cable Cardigan in Ivory. Horn buttons. 80% pima cotton, 20% by alpaca. Made in Peru.</div>
                          
                          <div class="swatch clearfix color" data-option-index="{{ option_index }}">
                            <div class="header">Color</div>
                            <div data-value="Small" class="selection-element small available">
                              <div class="tooltip">Green</div>
                              <input id="swatch-1-small" type="radio" name="option-2" value="Small">
                              <label for="swatch-1-small"style="background-color: green; background-image: url(//cdn.shopify.com/s/files/1/0066/3342/t/5/assets/green.png?14867104149783193968)">
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                            <div data-value="Medium" class="selection-element small available">
                              <div class="tooltip">Red</div>
                              <input id="swatch-2-small" type="radio" name="option-2" value="Medum">
                              <label for="swatch-2-small"style="background-color: green; background-image: url(//cdn.shopify.com/s/files/1/0066/3342/t/5/assets/green.png?14867104149783193968)">
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                            <div data-value="Large" class="selection-element small available">
                              <div class="tooltip">Blue</div>
                              <input id="swatch-3-small" type="radio" name="option-2" value="Large">
                              <label for="swatch-3-small"style="background-color: green; background-image: url(//cdn.shopify.com/s/files/1/0066/3342/t/5/assets/green.png?14867104149783193968)">
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                          </div>

                          <div class="swatch clearfix size" data-option-index="{{ option_index }}">
                            <div class="header">Size</div>
                            <div data-value="Small" class="selection-element small available">
                              <div class="tooltip">Small</div>
                              <input id="swatch-4-small" type="radio" name="option-1" value="Small">
                              <label for="swatch-4-small">
                                S
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                            <div data-value="Medium" class="selection-element small available">
                              <div class="tooltip">Medium</div>
                              <input id="swatch-5-small" type="radio" name="option-1" value="Medum">
                              <label for="swatch-5-small">
                                M
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                            <div data-value="Large" class="selection-element small available">
                              <div class="tooltip">Large</div>
                              <input id="swatch-6-small" type="radio" name="option-1" value="Large">
                              <label for="swatch-6-small">
                                L
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                          </div>
                          <div class="purchase">
                            <input type="submit" id="add-to-cart" class="btn" name="add" value="Add to cart">
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="no-pad col-xs-12 col-sm-6 col-md-4 col-lg-4">
                      <div class="product">
                        <a href="product.html">
                          <img src="assets/product-1.jpg">
                        </a>
                        <div class="product-details quick-view">
                          <img src="assets/mini-sale.png">
                          <div class="product-name">Neckable Cardigan</div>
                          <div class="price before">$ 280.00</div>
                          <div class="price">$ 200.00</div>
                          <div class="description">V-Neck Cable Cardigan in Ivory. Horn buttons. 80% pima cotton, 20% by alpaca. Made in Peru.</div>
                          
                          <div class="swatch clearfix color" data-option-index="{{ option_index }}">
                            <div class="header">Color</div>
                            <div data-value="Small" class="selection-element small available">
                              <div class="tooltip">Green</div>
                              <input id="swatch-1-small" type="radio" name="option-2" value="Small">
                              <label for="swatch-1-small"style="background-color: green; background-image: url(//cdn.shopify.com/s/files/1/0066/3342/t/5/assets/green.png?14867104149783193968)">
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                            <div data-value="Medium" class="selection-element small available">
                              <div class="tooltip">Red</div>
                              <input id="swatch-2-small" type="radio" name="option-2" value="Medum">
                              <label for="swatch-2-small"style="background-color: green; background-image: url(//cdn.shopify.com/s/files/1/0066/3342/t/5/assets/green.png?14867104149783193968)">
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                            <div data-value="Large" class="selection-element small available">
                              <div class="tooltip">Blue</div>
                              <input id="swatch-3-small" type="radio" name="option-2" value="Large">
                              <label for="swatch-3-small"style="background-color: green; background-image: url(//cdn.shopify.com/s/files/1/0066/3342/t/5/assets/green.png?14867104149783193968)">
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                          </div>

                          <div class="swatch clearfix size" data-option-index="{{ option_index }}">
                            <div class="header">Size</div>
                            <div data-value="Small" class="selection-element small available">
                              <div class="tooltip">Small</div>
                              <input id="swatch-4-small" type="radio" name="option-1" value="Small">
                              <label for="swatch-4-small">
                                S
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                            <div data-value="Medium" class="selection-element small available">
                              <div class="tooltip">Medium</div>
                              <input id="swatch-5-small" type="radio" name="option-1" value="Medum">
                              <label for="swatch-5-small">
                                M
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                            <div data-value="Large" class="selection-element small available">
                              <div class="tooltip">Large</div>
                              <input id="swatch-6-small" type="radio" name="option-1" value="Large">
                              <label for="swatch-6-small">
                                L
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                          </div>
                          <div class="purchase">
                            <input type="submit" id="add-to-cart" class="btn" name="add" value="Add to cart">
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="no-pad col-xs-12 col-sm-6 col-md-4 col-lg-4">
                      <div class="product">
                        <a href="product.html">
                          <img src="assets/product-1.jpg">
                        </a>
                        <div class="product-details quick-view">
                          <img src="assets/mini-sale.png">
                          <div class="product-name">Neckable Cardigan</div>
                          <div class="price before">$ 280.00</div>
                          <div class="price">$ 200.00</div>
                          <div class="description">V-Neck Cable Cardigan in Ivory. Horn buttons. 80% pima cotton, 20% by alpaca. Made in Peru.</div>
                          
                          <div class="swatch clearfix color" data-option-index="{{ option_index }}">
                            <div class="header">Color</div>
                            <div data-value="Small" class="selection-element small available">
                              <div class="tooltip">Green</div>
                              <input id="swatch-1-small" type="radio" name="option-2" value="Small">
                              <label for="swatch-1-small"style="background-color: green; background-image: url(//cdn.shopify.com/s/files/1/0066/3342/t/5/assets/green.png?14867104149783193968)">
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                            <div data-value="Medium" class="selection-element small available">
                              <div class="tooltip">Red</div>
                              <input id="swatch-2-small" type="radio" name="option-2" value="Medum">
                              <label for="swatch-2-small"style="background-color: green; background-image: url(//cdn.shopify.com/s/files/1/0066/3342/t/5/assets/green.png?14867104149783193968)">
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                            <div data-value="Large" class="selection-element small available">
                              <div class="tooltip">Blue</div>
                              <input id="swatch-3-small" type="radio" name="option-2" value="Large">
                              <label for="swatch-3-small"style="background-color: green; background-image: url(//cdn.shopify.com/s/files/1/0066/3342/t/5/assets/green.png?14867104149783193968)">
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                          </div>

                          <div class="swatch clearfix size" data-option-index="{{ option_index }}">
                            <div class="header">Size</div>
                            <div data-value="Small" class="selection-element small available">
                              <div class="tooltip">Small</div>
                              <input id="swatch-4-small" type="radio" name="option-1" value="Small">
                              <label for="swatch-4-small">
                                S
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                            <div data-value="Medium" class="selection-element small available">
                              <div class="tooltip">Medium</div>
                              <input id="swatch-5-small" type="radio" name="option-1" value="Medum">
                              <label for="swatch-5-small">
                                M
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                            <div data-value="Large" class="selection-element small available">
                              <div class="tooltip">Large</div>
                              <input id="swatch-6-small" type="radio" name="option-1" value="Large">
                              <label for="swatch-6-small">
                                L
                                <img class="crossed-out" src="assets/soldout.png">
                              </label>
                            </div>
                          </div>
                          <div class="purchase">
                            <input type="submit" id="add-to-cart" class="btn" name="add" value="Add to cart">
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>

                    <div class="pagination">
                      <div class="clearfix"></div>
                        <span class="page current">1</span>
                        <span class="page"><a href="/" title="">2</a></span>
                        <span class="page"><a href="/" title="">3</a></span>
                        <span class="next"><a href="/" title="">Next »</a></span>
                      <div class="clearfix"></div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--End template: Home-->
@@include('../parts/content-warper-end.html')
