@@include('../parts/content-warper-start.html')
<!--Init template: Home-->
          <section id="body">
          <div class="content-container">

          <!-- Modal -->
          <!-- <div class="modal fade bs-example-modal-lg" id="size-chart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="my-modal">
              <span>
                <button type="button" class="close-bt" data-dismiss="modal" aria-label="Close"></button>
                <img src="assets/size-chart-man.png">
              </span>
            </div>
          </div> -->

            <div class="size-chart">
              <div>
                <a  href="" class="close-bt"></a>
                <img src="assets/size-chart-man.png">
              </div>
            </div>

            <div class="black-blocker"></div>


            <div class="content-box">
              <div class="no-pad col-xs-12 col-sm-5">

                <div class="featured-image">
                  <a href="assets/product-2.jpg" class="zoom" id="placeholder">
                    <img src="assets/product-2.jpg" alt="Green">
                  </a>
                </div>

              </div>

              <div class="no-pad col-xs-12 col-sm-1 hidden-xs">

              <div class="thumbs clearfix">


                <div class="image">
                  <a href="assets/close-1.jpg" data-original-image="//cdn.shopify.com/s/files/1/0066/3342/products/2c_1024x1024.jpeg?v=1297606917">
                    <img src="assets/close-1.jpg" alt="Green">
                  </a>
                </div>
                
                
                
                <div class="image">
                  <a href="assets/close-2.jpg" data-original-image="//cdn.shopify.com/s/files/1/0066/3342/products/2a_1024x1024.jpeg?v=1297606910">
                    <img src="assets/close-2.jpg" alt="Magenta">
                  </a>
                </div>
                
                
                
                <div class="image">
                  <a href="assets/close-3.jpg" data-original-image="//cdn.shopify.com/s/files/1/0066/3342/products/2b_1024x1024.jpeg?v=1297606912">
                    <img src="assets/close-3.jpg" alt="Violet">
                  </a>
                </div>
                
  
                
              </div>




              </div>
              <div class="no-pad col-xs-12 col-sm-6">

                          <div class="product-details full">

                            <img src="assets/mini-sale.png">
                            <div class="product-name">Neckable Cardigan</div>
                            <div class="price before">$ 280.00</div>
                            <div class="price">$ 200.00</div>
                            <div class="description">V-Neck Cable Cardigan in Ivory. Horn buttons. 80% pima cotton, 20% by alpaca. Made in Peru.</div>
                            
                            <div class="swatch clearfix color" data-option-index="{{ option_index }}">
                              <div class="header">Color</div><br>
                              <div data-value="Small" class="selection-element small available">
                                <div class="tooltip">Green</div>
                                <input id="swatch-1-small" type="radio" name="option-2" value="Small">
                                <label for="swatch-1-small"style="background-color: green; background-image: url(//cdn.shopify.com/s/files/1/0066/3342/t/5/assets/green.png?14867104149783193968)">
                                  <img class="crossed-out" src="assets/soldout.png">
                                </label>
                              </div>
                              <div data-value="Medium" class="selection-element small available">
                                <div class="tooltip">Red</div>
                                <input id="swatch-2-small" type="radio" name="option-2" value="Medum">
                                <label for="swatch-2-small"style="background-color: green; background-image: url(//cdn.shopify.com/s/files/1/0066/3342/t/5/assets/green.png?14867104149783193968)">
                                  <img class="crossed-out" src="assets/soldout.png">
                                </label>
                              </div>
                              <div data-value="Large" class="selection-element small available">
                                <div class="tooltip">Blue</div>
                                <input id="swatch-3-small" type="radio" name="option-2" value="Large">
                                <label for="swatch-3-small"style="background-color: green; background-image: url(//cdn.shopify.com/s/files/1/0066/3342/t/5/assets/green.png?14867104149783193968)">
                                  <img class="crossed-out" src="assets/soldout.png">
                                </label>
                              </div>
                            </div>

                            <div class="swatch clearfix size" data-option-index="{{ option_index }}">
                              <a href="/" class="size-chart-bt">Size Chart </a>
                              <div class="header">Size</div><br>
                              <div data-value="Small" class="selection-element small available">
                                <div class="tooltip">Small</div>
                                <input id="swatch-4-small" type="radio" name="option-1" value="Small">
                                <label for="swatch-4-small">
                                  S
                                  <img class="crossed-out" src="assets/soldout.png">
                                </label>
                              </div>
                              <div data-value="Medium" class="selection-element small available">
                                <div class="tooltip">Medium</div>
                                <input id="swatch-5-small" type="radio" name="option-1" value="Medum">
                                <label for="swatch-5-small">
                                  M
                                  <img class="crossed-out" src="assets/soldout.png">
                                </label>
                              </div>
                              <div data-value="Large" class="selection-element small available">
                                <div class="tooltip">Large</div>
                                <input id="swatch-6-small" type="radio" name="option-1" value="Large">
                                <label for="swatch-6-small">
                                  L
                                  <img class="crossed-out" src="assets/soldout.png">
                                </label>
                              </div>
                            </div>
                            <div class="purchase">
                              <input type="submit" id="add-to-cart" class="btn" name="add" value="Add to cart">
                              <input type="submit" id="check-out" class="btn" name="add" value="Check Out">
                            </div>
                          </div>
              </div>
            </div>
            <div class="text-divider">You might also like</div>
            <div class="row no-margin thumbs">
              <div class="no-pad col-xs-12 col-sm-2">
                <div class="image">
                  <a href="assets/product-1.jpg" data-original-image="//cdn.shopify.com/s/files/1/0066/3342/products/2a_1024x1024.jpeg?v=1297606910">
                    <img src="assets/product-1.jpg" alt="Magenta">
                  </a>
                </div>
              </div>

              <div class="no-pad col-xs-12 col-sm-2">
                <div class="image">
                  <a href="assets/product-1.jpg" data-original-image="//cdn.shopify.com/s/files/1/0066/3342/products/2a_1024x1024.jpeg?v=1297606910">
                    <img src="assets/product-1.jpg" alt="Magenta">
                  </a>
                </div>
              </div>

              <div class="no-pad col-xs-12 col-sm-2">
                <div class="image">
                  <a href="assets/product-1.jpg" data-original-image="//cdn.shopify.com/s/files/1/0066/3342/products/2a_1024x1024.jpeg?v=1297606910">
                    <img src="assets/product-1.jpg" alt="Magenta">
                  </a>
                </div>
              </div>

              <div class="no-pad col-xs-12 col-sm-2">
                <div class="image">
                  <a href="assets/product-1.jpg" data-original-image="//cdn.shopify.com/s/files/1/0066/3342/products/2a_1024x1024.jpeg?v=1297606910">
                    <img src="assets/product-1.jpg" alt="Magenta">
                  </a>
                </div>
              </div>

              <div class="no-pad col-xs-12 col-sm-2">
                <div class="image">
                  <a href="assets/product-1.jpg" data-original-image="//cdn.shopify.com/s/files/1/0066/3342/products/2a_1024x1024.jpeg?v=1297606910">
                    <img src="assets/product-1.jpg" alt="Magenta">
                  </a>
                </div>
              </div>

              <div class="no-pad col-xs-12 col-sm-2">
                <div class="image">
                  <a href="assets/product-1.jpg" data-original-image="//cdn.shopify.com/s/files/1/0066/3342/products/2a_1024x1024.jpeg?v=1297606910">
                    <img src="assets/product-1.jpg" alt="Magenta">
                  </a>
                </div>
              </div>
          </div>
        </section>
        <!--End template: Home-->
@@include('../parts/content-warper-end.html')
