	@@include('../parts/content-warper-start.html')
	<!--Init template: Home-->
	<section id="body" class="">
		<div class="row no-margin"> 
			<div class="bg-fixed timeline-bg">
				<div class="slider-container xl">
					<div class="slideshow">
                  		<ul class="slideshow-container">
                  			<li id="tl-1" class="slide-container">
                  				<img src="assets/timeline-pic-06.png">
                  			</li>
                  			
                  			<li id="tl-2" class="slide-container">
                  				<div class="cap right black">
                  					<img src="assets/circle-leaf-sm.png">
                  					<div class="year">1973</div>
                  					<div class="text">
                  						<span>BOAST USA</span><br>
                  						was founded by Bill Saint James.
									</div>
                  				</div>
                  				<img src="assets/timeline-pic-01.jpg">
                  			</li>
                  			                  			
                  			<li id="tl-3" class="slide-container">
                  				<div class="cap left white">
                  					<img src="assets/circle-leaf-sm.png">
                  					<div class="year">1987</div>
                  					<div class="text">
                  						<span>BOAST USA</span><br>
                  						expanded across the USA.
									</div>
                  				</div>
                  				<img src="assets/timeline-pic-02.jpg">
                  			</li>
                  			
                  			<li id="tl-4" class="slide-container">
                  				<div class="cap left white">
                  					<img src="assets/circle-leaf-sm.png">
                  					<div class="year">1992</div>
                  					<div class="text">
                  						<span>BOAST USA</span><br>
                  						made it’s frist movie appearance.
									</div>
                  				</div>
                  				<img src="assets/timeline-pic-03.jpg">
                  			</li>
                  			
                  			<li id="tl-5" class="slide-container">
                  				<div class="cap right white">
                  					<img src="assets/circle-leaf-sm.png">
                  					<div class="year">2004</div>
                  					<div class="text">
                  						<span>BOAST USA</span><br>
                  						was worn by 3 of the top players in the US Open.
									</div>
                  				</div>
                  				<img src="assets/timeline-pic-04.jpg">
                  			</li>

                  			<li id="tl-6" class="slide-container">
                  				<div class="cap right white">
                  					<img src="assets/circle-leaf-sm.png">
                  					<div class="year">2013</div>
                  					<div class="text">
                  						<span>BOAST USA</span><br>
                  						launched BoastU.
									</div>
                  				</div>
                  				<img src="assets/timeline-pic-05.jpg">
                  			</li>


                  		</ul>
                  		<div class="slideshow-controller">
                  			<div id="ctrl"></div>
                  			<div class="racket l"></div>
                  			<div class="racket r"></div>
                  			<div class="step-buttons">
                  				<a data-percent="20" href="">1973</a>
                  				<a data-percent="40" href="">1987</a>
                  				<a data-percent="60" href="">1992</a>
                  				<a data-percent="80" href="">2004</a>
                  				<a data-percent="100" href="">2013</a>
                  			</div>
                  		</div> 
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End template: Home-->
	@@include('../parts/content-warper-end.html')
